<!DOCTYPE html>
<html>
<head>
  <title>Doorkeeper</title>
  <%= stylesheet_link_tag    "doorkeeper/application" %>
  <%= javascript_include_tag "doorkeeper/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
