<div class="span16">
  <header class="page-header"><h2>Edit application</h2></header>
</div>

<div class="span12">
  <%= render 'form', :application => @application %>
</div>

<div class="span4">
  <h3>Actions</h3>
  <p><%= link_to 'Back to application list', oauth_applications_path %></p>
</div>

